@page{
	margin: 50pt;
}

body{
 	line-height: 1.33em;
  	box-sizing: border-box !important;
}


p{
	text-align: justify;
	display: block !important;
  box-sizing: border-box !important;
}

.thumb{
	background-color: white;
	border: none;
	text-align: center !important;
	margin: 0.5em auto !important;
	display: block !important;
  box-sizing: border-box !important;
}

.thumbinner{
	text-align: center !important;
	margin: 0 auto !important;
  box-sizing: border-box !important;
}

.thumbimage{
	margin: 0 auto !important;
  width: 95vw;
  box-sizing: border-box !important;
}

.quotebox {
  width: 85vw;
  display: block !important;
  box-sizing: border-box !important;
}

.quotebox-quote{
  width: auto;
  display: block !important;
  box-sizing: border-box !important;
}

table{
	margin: 0.5em !important;
	font-size: 0.85em !important;
	border-collapse: collapse;
 	display: block !important;
  	max-width: 97vw;
    box-sizing: border-box !important;
}

td, th{
	border: 1px solid whitesmoke;
	vertical-align: middle !important;
  	box-sizing: border-box !important;
}

th{
	background-color: silver !important;
}

tr{
	border: 1px solid lightgray;
}

table, thead, tbody, th, td, tr { 
		display: block !important; 
		text-align: center !important;
	}

td *, th * {
	text-align: center !important;
}

img{
    max-width: 85% !important;
    box-sizing: border-box !important;
}

dd {
	text-align: center;
}

.mwe-math-fallback-image-inline, .mwe-math-element, dd{
  margin:0 !important;
}
